<!DOCTYPE html>
<html ng-app="HealingHz-CurriculumUI" lang="en-US">
    <head>
        <title>HealingHz.us - Bionic Ear Trainer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name=”description” content="An online training tool for rehabilitating pitch perception for cochlear implant recipients">
        <link rel="stylesheet" type="text/css" href="./healingHz.css">
        <link rel="stylesheet" type="text/css" href="./css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="./css/bootstrap-3.3.6.min.css">
        <link rel="stylesheet" type="text/css" href="./css/bootstrap-dialog-1.34.7.min.css">
        <script type="text/javascript" src="./scripts/lib/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="./scripts/lib/bootstrap-3.3.6.min.js"></script>
        <script type="text/javascript" src="./scripts/lib/bootstrap-dialog-1.34.7.min.js"></script>
        <script type="text/javascript" src="./scripts/lib/easeljs-0.8.0.min.js"></script>
        <script type="text/javascript" src="./scripts/lib/soundjs-0.6.2.min.js"></script>
        <script type="text/javascript" src="./scripts/lib/tweenjs-0.6.2.min.js"></script>
        <script type="text/javascript" src="./scripts/lib/angular-1.6.3.min.js"></script>
        <script type="text/javascript" src="./scripts/all.min.js"></script>
        <script type="text/javascript">document.write("<base href=\"" + document.location + "\" />");</script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-78378840-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script>
            var App = angular.module('HealingHz-CurriculumUI', []);

            App.controller('CurriculumCtrl', function($scope, $window, $http) {

                $scope.date = new Date();

                $scope.results = $window.HealingHz.testPlanResults;

                $scope.form = {
                    selectedCurriculum : "",
                    selectedVoice : ""
                };

                $http.get('./curriculums.json')
                    .then(function(res){
                        $scope.curriculums = res.data;
                    });

                $scope.launchCurriculum = function(form) {
                    var fwdUrl="./index.html?c=" + form.selectedCurriculum + "&v=" + form.selectedVoice;
                    $window.location.href = fwdUrl;
                }

                $scope.playSelectedVoiceSample = function() {
                    $window.HealingHz.playVoice($scope.selectedVoice);
                };

                $scope.quitTestPlan = function() {

                    BootstrapDialog.configDefaultOptions({
                        cssClass: 'healingHzText'
                    });

                    BootstrapDialog.confirm({
                        title: 'You are about to quit a test plan',
                        message: 'If you quit the test plan, all progress will be lost. Are you sure you want to quit?',
                        type: BootstrapDialog.TYPE_WARNING,
                        btnCancelLabel: 'Continue the test plan',
                        btnOKLabel: 'Quit',
                        btnOKClass: 'btn-warning',
                        callback: function(result) {
                            if(result) {
                                $window.location.href = "/";
                            }
                        }
                    });
                };

                $scope.getScore = function(){

                    var count = 0;
                    var correctNotes = [];

                    for(var i=0; i<$scope.results.notesSubmitted.length; i++) {
                        var notesInOrder = $scope.results.notesSubmitted[i].slice().sort(function (a, b) {
                            return a.index - b.index;
                        });

                        for (var j = 0; j < $scope.results.notesSubmitted[i].length; j++) {
                            var note = $scope.results.notesSubmitted[i][j];
                            if(note.index == notesInOrder[j].index) {
                                correctNotes.push(note);
                            }
                            count++;
                        }
                    }
                    return Math.round(100*(correctNotes.length/count));
                };
            });

            App.filter("submittedNotesForDisplay", function(){
                return function(notes){
                    var ret="[ ";
                    for(var i=0; i<notes.length; i++)
                    {
                        ret = ret.concat(notes[i].displayName);

                        if(i == notes.length-1) {
                            ret = ret.concat(" ");
                        } else {
                            ret = ret.concat(" - ");
                        }                    }
                    return ret.concat("]");
                }
            });

            App.filter("sortedNotesForDisplay", function(){
                return function(notes){
                    var ret = "[ ";
                    var sorted = notes.slice().sort(function (a, b) {
                        return a.index - b.index;
                    });

                    for(var i=0; i<sorted.length; i++)
                    {
                        ret = ret.concat(sorted[i].displayName);

                        if(i == sorted.length-1) {
                            ret = ret.concat(" ");
                        } else {
                            ret = ret.concat(" - ");
                        }
                    }
                    return ret.concat("]");
                }
            });
        </script>
    </head>
    <body ng-controller="CurriculumCtrl">
        <audio id="HealingHzAudio" preload="auto"></audio>
        <nav id="navBar" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav navbar-brand-dropdown">
                        <li class="dropdown">
                            <a href="#" class="navbar-brand dropdown-toggle upFivePixels" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img height="30px" width="30px" src="./img/hamburger.png">
                            </a>
                            <ul class="dropdown-menu dropdown-brand">
                                <li class="healingHzText"><a href="#" data-toggle="modal" data-target="#testPlanModal">Execute a test plan</a></li>
                                <li class="healingHzText"><a href="#" data-toggle="modal" data-target="#aboutModal">About HealingHz</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal fade healingHzText" id="aboutModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm\\lg">
                <div class="modal-content">
                    <div class="modal-header genericModalHeader">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">HealingHz.us</h4>
                    </div>
                    <div class="modal-body">



                        <div id="exTab2">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a  href="#1" data-toggle="tab">About</a>
                                </li>
                                <li><a href="#2" data-toggle="tab">Contact</a>
                                </li>
                                <!-- li><a href="#3" data-toggle="tab">Credits</a>
                                </li -->
                            </ul>

                            <div class="tab-content ">
                                <div class="tab-pane active" id="1">
                                    <br>
                                    <p>HealingHz.us is an experimental tool intended to be used by cochlear implant recipients -- and
                                        the audiologists who treat them -- to evaluate and possibly rehabilitate pitch discrimination
                                        by using simple musical theory-based sound puzzles.</p>
                                </div>
                                <div class="tab-pane" id="2">
                                    <br>
                                    <p>Please address any comments or questions to &#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x68;&#x65;&#x61;&#x6C;&#x69;&#x6E;&#x67;&#x68;&#x7A;&#x2E;&#x75;&#x73;.</p>
                                </div>
                                <div class="tab-pane" id="3">
                                    <br>
                                    <p><a href="https://github.com/illingtonFlex">@JasonCNomran - programming and UI design.</a></p>
                                </div>
                            </div>
                        </div>

                        <p>Copyright &copy; {{date| date:'yyyy'}} HealingHz.us ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="testPlanModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm\\lg">
                <div class="modal-content">
                    <div class="modal-header genericModalHeader">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select a test plan</h4>
                    </div>
                    <div class="modal-body">
                        <form name="selectCurriculum" ng-submit="launchCurriculum(form)" ng-controller="CurriculumCtrl">
                        <table width="100%" class="healingHzText">
                            <tr>
                                <th>Name</th>
                                <th># tones</th>
                                <th>length</th>
                                <th>Difficulty</th>
                            </tr>
                            <tr ng-repeat="curriculum in curriculums">
                                <td>
                                    <label>
                                        <input name="curriculumRadioGroup" type="radio" ng-model="form.selectedCurriculum" value="{{curriculum.id}}" required>
                                        &nbsp;{{curriculum.name}}
                                    </label>
                                </td>
                                <td>{{curriculum.numTones}}</td>
                                <td>{{curriculum.chords.length}}</td>
                                <td>{{curriculum.difficulty}}</td>
                            </tr>
                        </table>
                        <hr>
                        <h4 class="modal-title genericModalHeader">Select a voice</h4>
                        <table width="100%" class="healingHzText">
                            <tr>
                                <td align="center">
                                    <label>
                                        <input name="voiceRadioGroup" type="radio" ng-model="form.selectedVoice" value="1" required>
                                        Voice 1 <img onclick="HealingHz.playVoice(1)" height="20px" width="20px" src="./img/play.png">
                                    </label>
                                </td>
                                <td align="center">
                                    <label>
                                        <input name="voiceRadioGroup" type="radio" ng-model="form.selectedVoice" value="2" required>
                                        Voice 2 <img onclick="HealingHz.playVoice(2)" height="20px" width="20px" src="./img/play.png">
                                    </label>
                                </td>
                                <td align="center">
                                    <label>
                                        <input name="voiceRadioGroup" type="radio" ng-model="form.selectedVoice"  value="3" required>
                                        Voice 3 <img onclick="HealingHz.playVoice(3)" height="20px" width="20px" src="./img/play.png">
                                    </label>
                                </td>
                                <td align="center">
                                    <label>
                                        <input name="voiceRadioGroup" type="radio" ng-model="form.selectedVoice"  value="4" required>
                                        Voice 4 <img onclick="HealingHz.playVoice(4)" height="20px" width="20px" src="./img/play.png">
                                    </label>
                                </td>
                                <td align="center">
                                    <label>
                                        <input name="voiceRadioGroup" type="radio" ng-model="form.selectedVoice"  value="0" required>
                                        Mixed voices
                                    </label>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <button type="submit" class="btn btn-default healingHzText">Execute Selected Test Plan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainDiv" >
            <p id="healingHzHeader">HealingHz</p>
            <div id="explanationDiv">
                <p class="healingHzText healingHzParagraph">
                    Each of the below colored circles represents a note. The notes together represent a musical chord or scale. Click each circle to hear its corresponding note. Drag each circle into one of the boxes, arranging the notes in ascending order of pitch, with the lowest pitch on the left, and the highest pitch on the right.
                </p>
            </div>
            <div id="testPlanStatusDiv">
                <p class="healingHzText healingHzParagraph">
                <h3>Test Plan: step {{testPlanIterator+1}} of {{selectedCurriculum.chords.length}}</h3>
                <a href ng-click="quitTestPlan()">quit</a>
                </p>
            </div>
            <div id="canvasDiv">
                <canvas id="healingHzCanvas" width="800" height="400">
                    ERROR! HTML5 canvas not supported!
                </canvas>
            </div>
            <div class="modal fade" id="victoryDiv" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-content-success">
                        <div class="modal-header successModalHeader">
                            <h4 class="modal-title">Very good!</h4>
                        </div>
                        <div class="modal-body">
                            <p class="healingHzText">Congratulations, your notes are in the correct order! You can try this puzzle again, or move on to a new puzzle.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="location.reload();">Try A New Puzzle</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="HealingHz.reset();">Try This Puzzle Again</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="failureDiv" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-content-fail">
                        <div class="modal-header failModalHeader">
                            <h4 class="modal-title">I'm sorry, that is not correct.</h4>
                        </div>
                        <div class="modal-body">
                            <p class="healingHzText">Your notes are not in the correct order. You can try again, or move on to a new puzzle.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="location.reload();">Try A New Puzzle</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="HealingHz.reset();">Try This Puzzle Again</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade healingHzText" id="beginTestPlanModal" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-sm\\lg">
                    <div class="modal-content">
                        <div class="modal-header genericModalHeader">
                            <h4 class="modal-title">Test Plan: {{selectedCurriculum.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <p>You are about to begin a test plan. Once you complete the test plan, you will receive a score summary.
                                You may click quit at any time to exit the test plan.</p>
                            <p>Please click the below sound sample to ensure your listening device is working properly at a comfortable level.</p>
                            <img ng-click="playSelectedVoiceSample()" height="40px" width="40px" src="./img/play.png">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="$('#beginTestPlanModal').modal('hide');">Begin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal modal-fullscreen fade" id="resultsDiv" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-results">
                    <div class="modal-content modal-content-results">
                        <div class="modal-header genericModalHeader">
                            <h4 class="modal-title">Your Test Plan Results:</h4>
                        </div>

                        <div class="modal-body healingHzText">
                            <div id="resultsContainer">
                                <p>Your score: {{getScore()}}&#37;</p>
                                <p>Test Plan: {{selectedCurriculum.name}}</p>
                                <p>Difficulty: {{selectedCurriculum.difficulty}}</p>
                                <table align="center">
                                    <tr>
                                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>You Submitted</th>
                                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Correct Order</th>
                                    </tr>
                                    <tr ng-repeat="resultChord in results.notesSubmitted">
                                        <td>{{$index+1}}</td>
                                        <td>{{ resultChord | submittedNotesForDisplay }}</td>
                                        <td>&nbsp;</td>
                                        <td>{{ resultChord | sortedNotesForDisplay }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer healingHzText">
                            <a href="/">Return to HealingHz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>